#banner_image
{
    background:  url("../img/intro-bg_1.jpg");
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 50px;
    color: #f8f8f8;
    text-align: center;
    background-position: center;
	background-repeat: no-repeat;
   
}

footer{
    position: fixed;
	padding: 10px 0;
	text-align: center;
	bottom: 0;
    background-color: #101010;
	color: #9d9d9d;
    width: 100%;
    text-align: center;
}

#banner_content{
    position: relative;
	padding-top: 6%;
	padding-bottom: 12%;
	margin: 12% auto;
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 660px
    
}

.panel-margin {
	margin-top: 80px;
	margin-bottom: 80px;
}

.text-centre {
	text-align: center;
}